.amplify-button {
    border-radius: 0.25rem;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
    color: white;
    font-weight: bold;
}
.amplify-button:hover {
    background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}